---
import Layout from "../layouts/Layout.astro";
import { playlists } from "../lib/data";
---

<Layout title="Spotify Clone">
	<div id="playlist-container" class="relative transition-all duration-1000 bg-green-600">
		<!-- PageHeader -->
	
		<div class="relative z-10 px-6">
			<!-- Greetings -->
			<h1 class="text-4xl">Good Morning!</h1>
		</div>
	</div>
</Layout>
